$primary-text-color: #bdd6f7
$primary-background-color: #060e17
$secondary-background-color: #051628
$default-spacing: 0.5em

body
	font-size: 14px
	font-family: "Open Sans"
	font-weight: normal
	background: $primary-background-color
	color: $primary-text-color

header
	display: flex
	flex-wrap: wrap
	text-align: center

	div
		flex-grow: 1
		background: $secondary-background-color
		padding: $default-spacing
		margin: $default-spacing
		a
			color: $primary-text-color
		*
			margin: $default-spacing 0
		:first-child
			font-size: 1.2em
			font-weight: bold

nav
	display: flex
	overflow-x: auto
	margin: $default-spacing
	padding: $default-spacing
	background: $secondary-background-color

	div
		margin: auto
		font-weight: 700
		user-select: none
		text-align: center
		background: $secondary-background-color
		padding: $default-spacing 2*$default-spacing
		&:hover
			background: darken($secondary-background-color, 5%)
			cursor: pointer
		&:active
			background: darken($secondary-background-color, 40%)

main
	display: flex
	flex-wrap: wrap
	background: $secondary-background-color
	margin: 2*$default-spacing $default-spacing
	padding: $default-spacing
