@import url('https://fonts.googleapis.com/css2?family=Open+Sans');

body {
	font-size: 14px;
	font-family: "Open Sans";
	font-weight: normal;
	background: #060e17;
	color: #bdd6f7;
}

header {
	display: flex;
	flex-wrap: wrap;
	text-align: center;
}

header div {
	flex-grow: 1;
	background: #051628;
	padding: 0.5em;
	margin: 0.5em;
}

header div a {
	color: #bdd6f7;
}

header div * {
	margin: 0.5em 0;
}

header div :first-child {
	font-size: 1.2em;
	font-weight: bold;
}

nav {
	display: flex;
	overflow-x: auto;
	margin: 0.5em;
	padding: 0.5em;
	background: #051628;
}

nav div {
	margin: auto;
	font-weight: 700;
	user-select: none;
	text-align: center;
	background: #051628;
	padding: 0.5em 1em;
}

nav div:hover {
	background: #020a11;
	cursor: pointer;
}

nav div:active {
	background: #000;
}

main {
	display: flex;
	flex-wrap: wrap;
}

main div {
	flex-grow: 1;
	height: 20em;
	width: 30em;
	padding: 1em;
	margin: 0.5em;
	background: #051628;
}
